<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CucumberSuite" parallel="classes" thread-count="3">
    <test name="Login Feature">
        <classes>
            <class name="runner.RunLoginTest"/>
        </classes>
    </test>
    <test name="Dashboard Feature">
        <classes>
            <class name="runner.RunDashboardTest"/>
        </classes>
    </test>
    <test name="Negative Login Feature">
        <classes>
            <class name="runner.RunLoginNegativeTest"/>
        </classes>
    </test>
</suite>